:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}


.header{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20PX;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__logo{
    align-self: center;
    width: 45%;
}
.header__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    align-self: center;
}
.header__button{
    position: absolute;
    display: block;
    left: calc(50% - 115px);
    top: calc(100% - 24px);
    width: 230px;
    height: 48px;
}

.title-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    
}
.title-container__title{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.title-container__subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.action-button{
    padding: 15px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.action-button__icon{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left:10px;
    background-image: url("../assets/icons/down-arrow.svg");
}



.main-content{
    width: 100%;
    background-color: var(--off-white);
}
.main-content__section{
    width: 100%;
    padding: 40px 0;
}

.exchange-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.exchange-section__concept-img{
    width: 50%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    background-image: url('../assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exchange-section__slider{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.section-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.section-title__title{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.section-title__subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.section-title__title--product-detail{
    color: var(--just-white);
}
.section-title__subtitle--product-detail{
    color: #808080;
}

.table{
    scroll-snap-align: center;
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    margin: 0 25px;
    font-family: "Inter", "sans-serif";
}
.table__title{
    margin: 0 15px 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.table__title--fees{
    color: var(--secondary-blue);
}
.table__grid{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
    padding-left: 10%;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-align: start;
    background-color: var(--just-white);
    color: var(--grey);
    border-radius: 15px;
}
.table__grid--fees{
    grid-template-columns: 3fr 2fr;
}
.table__value{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    text-align: center;
    color: #757575;
}
.table__icon{
    display: inline-block;
    width: 15px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    background-image: url('../assets/icons/trending-down.svg');
}
.table__icon--up{
    background-image: url('../assets/icons/trending-up.svg');
}
.table__update-date{
    width: 190px;
    height: 30px;
    margin:  0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    color: var(--warm-black);
    border-radius: 8px;

    font-size: 1.2rem;
    line-height: 1.5rem;
}
.table__update-date--fees{
    background-color: var(--soft-blue);
}

.product-detail-section{
    position: relative;
    width: 100%;
    min-width: 320px;
    background-color: var(--warm-black);
}
.product-detail-section__batata-logo{
    position: absolute;
    width: 50px;
    aspect-ratio: 8/5;
    background-image: url('../assets/icons/batata.svg');
    background-position: center;
    background-repeat: no-repeat;
    top: calc(0% - 15px);
    left: calc(50% - 25px);
}

.product-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 175px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(126, 79, 79, 0.16);
}
.product-card__icon{
    display: inline-block;
    width: 30px;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.product-card__icon--clock{
    background-image: url(./assets/icons/clock.svg);
}
.product-card__icon--eye{
    background-image: url(./assets/icons/eye.svg);
}
.product-card__icon--dollar{
    background-image: url(./assets/icons/dollar-sign.svg);
}
.product-card__icon--check{
    background-image: url(./assets/icons/check-circle.svg);
}
.product-card__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card__subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img__call-to-action{
    padding-top: 10vh;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}


.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans---title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}
.plans---title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.plans---title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 83, 0.16);
}
.recommended{
    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    left: calc(50% - 60px);
    top: calc(-15px);
    font-size: 1.2rem;
    padding: 6px;
}
.plan-info-container h3{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    font-family: "Inter", "sans-serif";
    color: var(--black);
}
.plan-card--price span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.plan-card--extra-info{
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
}
.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.plan-card--ca span{
    display: inline-block;
    width: 20px;
    aspect-ratio: 1/1;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

footer{
    display: flex;
    
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
footer .left li{
    margin: 10px 0;
}
footer .left li a{
    text-decoration: none;
    color: var(--just-white);
}
